<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroids</title>
    <link rel="stylesheet" href="/stylesheets/asteroids_style.css">
    <meta http-equiv="refresh" content="1">
    <% if(alarmStatus == "active") { %>
        <style>
            body {
                background-image: url("./images/warning.jpg");
                background-size: 100vw 100vh;
                background-repeat: no-repeat;
            }
        </style>
    <% } %>
<body>
    <% if(alarmStatus == "none" || alarmStatus == "upcoming") { %>
    <div id="radar" class="row">
        <img src="/images/Radar-Concept.gif" alt="radar">
    </div>
    <div id="data" class="row">
        <div class="image">
            <img src="/images/em_logo.png" alt="expedice mars logo">
        </div>
        <div id="asteroid-list">
            <% asteroids.forEach((asteroid) => { %>
                <p class="parampara"><span class="params">Distance: <%= Math.floor(asteroid.dist) %> m</span><span class="params">Energy: <%= asteroid.energy %> mJ</span></p>
            <% }) %>
        </div>
    </div>
    <% } else { %>
    <div id="warning">
        <h1 id="title">Warning!</h1>
        <h2 id="time"><%= Math.floor(timeRem/3600) %>h <%= Math.floor(timeRem%3600/60) %>min <%= timeRem%60 %>s</p>
        <h3 id="message"><%= message %></p>
    </div>
    <% } %>
</body>
</html>